html {
    background-color: rgb(133, 183, 86);
}

h1 {
    font-family: Georgia;
    text-align: center;
    color: rgb(32 96 192);
}

p {
    background-color: rgb(234, 221, 221);
    font-weight: 800;
    border: 2px solid black;
    margin: 8px;
    padding: 2px;
}

ol {
    background-color: rgb(171, 88, 88);
    color: rgb(234, 221, 221);
    font-weight: 500;
    border: 2px solid rgb(220, 213, 69);
    margin: 0 auto;
    max-width: 800px;
}

img {
    display: block;
    background-color: rgb(220, 213, 69);
    border: 8px solid #000;
    padding: 3px 3px;
    margin: 12px auto;
}

ul {
    box-sizing: content-box;
    border: 12px solid rgb(171, 88, 88);
    background-color: rgb(234, 221, 221);
    margin: 0 auto;
    padding: 16px 32px;
    max-width: 550px;
}

ul li {
    box-sizing: border-box;
    text-align: center;
    color: rgb(192 96 128);
    margin: auto 64px;
    padding: 4px 6px;
}

header {
    text-align: center;
}
